
.card-img-top {
    width: 100%;
    height: 250px;        
    object-fit: cover;  
}

.card {
  transition: box-shadow 0.3s;
  border: 2px solid chocolate ;
}

.card:hover {
  box-shadow: 0px 8px 20px black;
}
.heading{
          font-weight: bold;
}
.row2{
      margin: 50px auto;
      padding: 20px;
      max-width: 600px;
      margin-top: 0px;
      padding-top: 10px;

}

.navbar-brand{
             font-weight: bold;
             color: black;
             font-size: 30px;

}

.navbar-brand:hover{
            color:brown;
}
.sure{
      height: 100px;
      text-align: left;
}
.logo{
      height: 500px;
      width:1263px;
    }

   
   .text-center{
           margin-top: 2px;
   }
   .lead{
         max-width: 700px;
         font-size: 19px;
         color:black;
         font-style: italic;
         font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
         max-width: 700px;
         margin: 0 auto;
         font-size: 20px;
         text-align: center;
         
   }
   .d-flex{
          gap: 20px;
          
   }
   .red{
        width: 100px;
   }
   .dropdown-item:active,
.dropdown-item:focus{
      background-color: transparent;
      
   }
   .dropdown-menu{
           background-color: brown;
           color: white;
   }
   .dropdown-item:hover {
                  color: brown;
                  background-color: black;
   }
.cow{
      color: brown;
      font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.contact-heading{
         color: brown;
      font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}
.home{
      color: brown;
      font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.nav-link:hover {
          color: brown;
            
}
.nav-link{
          color: black;

}
.nav-link:focus,
.nav-link:active,
.nav-link.show {
  color: black;
  outline: none ;
  box-shadow: none ;
}


.dropdown-toggle:focus {
  color: black ;
  background-color: transparent ;
  box-shadow: none ;
}

.navbar{
         background-color:wheat
}

        

.poll{
       width: 540px;
       height: 350px;
       border-radius: 25px;
    

}
.polly{
  width: 500px;
  height: 300px;
  border-radius: 25px;
}
.polls{
         width: 540px;
       height: 300px;
       border-radius: 25px;
    
}
.horse{
        border-radius: 25px;
        width: 390px;
        height: 390px;
}
.carousel-item img{
                    height: 100%;
                    object-fit: cover;
                  
}
.carousel-item {
           height: 100vh;
}
.dom{
       color: brown;
       font-weight: bold;
}

   
  .cat{
      margin-bottom: 40px;
}
.header{
         margin-bottom: 75px;
}
.navbar-nav{
           margin-left: 150px;
}
.form{
       font-size: 20px;
       margin-left: 60px;
       margin-top: 70px;
       color: gray;
       font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.yellow{
         margin-left: 55px;
         font-family: 'Times New Roman', Times, serif;
         font-weight: bold;
         margin-top: -10px;
         font-size: 30px;
         margin-bottom: 20px;
         color: brown;
}

.dove{
     margin-left: 240px;   
  margin-top: 40px;
  font-size: 19px;
  line-height: 1.8;
  margin-right: 220px;
}

.card-instruct img {
    width: 100%;       
    height: auto;      
    display: block;    
    object-fit: cover; 

}
.card-instruct {
    padding: 0px;        
    margin: 0px;        
    border: 2px solid brown;    
    margin-top: 20px; 
    
}



.card {
  transition: box-shadow 0.3s;
  border: 2px solid chocolate ;
}

.card:hover {
  box-shadow: 0px 8px 20px black;
}
.heading{
          font-weight: bold;
}
.row2{
      margin: 50px auto;
      padding: 20px;
      max-width: 600px;
      margin-top: 0px;
      padding-top: 10px;

}

.navbar-brand{
             font-weight: bold;
             color: black;
             font-size: 30px;

}

.navbar-brand:hover{
            color:bisque;
}
.sure{
      height: 100px;
      text-align: left;
}
.logo{
      height: 500px;
      width:1263px;
    }

   
   .text-center{
           margin-top: 2px;
   }
   .lead{
         max-width: 700px;
         font-size: 19px;
         color:black;
         font-style: italic;
         font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
         max-width: 700px;
         margin: 0 auto;
         font-size: 20px;
         text-align: center;
         
   }
   .d-flex{
          gap: 20px;
          
   }
   .red{
        width: 100px;
   }
   .dropdown-item:active,
.dropdown-item:focus{
      background-color: transparent;
      
   }
   .dropdown-menu{
           background-color: brown;
           color: white;
   }
   .dropdown-item:hover {
                  color: brown;
                  background-color: black;
   }
.cow{
      color: brown;
      font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.contact-heading{
         color: brown;
      font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}
.home{
      color: brown;
      font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.nav-link:hover {
          color: brown;
            
}
.nav-link{
          color: black;

}
.nav-link:focus,
.nav-link:active,
.nav-link.show {
  color: black;
  outline: none ;
  box-shadow: none ;
}


.dropdown-toggle:focus {
  color: black ;
  background-color: transparent ;
  box-shadow: none ;
}
.card{
     margin-left: 50px;
     margin-right: 50px;
     margin-top:70px;
}
.navbar{
      background: #1E9600;  background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);

}

        

.poll, .polly, .polls, .horse {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

.carousel-item img{
                    height: 100%;
                    object-fit: cover;
                  
}
.carousel-item {
           height: 100vh;
}
.dom{
       color: brown;
       font-weight: bold;
}

   
.cat{
      margin-bottom: 40px;
}
.header{
         margin-bottom: 75px;
}
.navbar-nav{
           margin-left: 150px;
}
  .filter-buttons .btn {
    border-radius: 20px; 
    margin-right: 5px;   
    background-color: brown;
  }

  .game{
        font-weight: bold;
        color: brown;
      font-family: monospace;
  }
  .card-instruct{
              
         width: 320px;
         height: 320px; 
    overflow: hidden; 
}

  
  .card-instruct img {
    height: 250px; 
    object-fit: cover; 
}
.dove{
     margin-left: 80px;
}
.four{
        color: royalblue;
}
  
@media (max-width: 992px) {  
    .custom-card, .card {
        width: 90% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .dove {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
}

@media (max-width: 576px) {  
    .custom-card, .card {
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .card-img-top {
        height: 180px !important;
    }
    .dove {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .navbar-brand {
        font-size: 1.5rem !important;
    }
}
